@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Mulish&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

h2 {
  text-align: center;
  background-color: #4E27E1;
  color: rgb(255, 255, 255);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 1rem; */
  /* margin: auto; */
  /* max-width: 600px; */
  height: 80vh;
  justify-content: flex-start;
}

h3 {
  padding: 1rem;
  text-align: center;
}

.footer {
  background-color: #4E27E1;
  display: flex;
  text-align: center;
  color: black;
  justify-content: center;
  line-height: 30px;
  padding: 0.5rem;
  width: 100%;
}

.cardBox {
  perspective: 50px;
  margin: 15px;
}

.card {
  position: relative;
  width: 45px;
  height: 45px;
  background: #FFF;
  transform-style: preserve-3d;
  transition: 1s;
  box-shadow: 0px 20px 20px rgb(0, 0, 0, 0.5);
  border-top-left-radius: 20%;
  border-top-right-radius: none;
  border-bottom-left-radius: none;
  border-bottom-right-radius: 20%;
}

.github {
  background: #000000;
}

.twitter {
  background: #1da1f2;
}

.linkedin {
  background: #4a53f2;
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  color: #FFF;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center
}

.card-back {
  display: flex;
  font-size: 10px;
  justify-content: center;
  align-items: center;
}

.cardBox:hover .card {
  transform: rotateY(180deg);
}

.card-back {
  transform: rotateY(180deg);
}

.link-s {
  color: white;
  text-decoration: none;
}