@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Mulish&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

h2{
  text-align: center;
  background-color: #4E27E1;
  color: rgb(255, 255, 255);
  padding-top: 1rem;
  padding-bottom: 16px;
  margin-bottom: 1rem;
  line-height: 30px;
}

.container {
 display: flex;
 flex-direction: column;
 text-align: center;
  /* padding: 1rem; */
  /* margin: auto; */
  /* max-width: 600px; */
  height: 90vh;
  justify-content: flex-start;
}

h3 {
  padding: 1rem;
  text-align: center;
}

.footer {
  background-color: #4E27E1;
  display: flex;
  text-align: center;
  color: black;
  justify-content: center;
  line-height: 30px;
  padding: 1rem;
  width: 100vw;
}

.footer .link {
  color: #fff;
}

.social-icons a {
  padding: 0.5rem;
text-decoration: none;
}

.attribution{
  text-decoration: none;
  padding: 0.5rem;
  font-size: 15px;
}

