@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Mulish&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: inter;
}

/* header */
h2{
 
}

main{
  text-align: center;
  background-color: #4E27E1;
  color: rgb(255, 255, 255);
  line-height: 30px;
  padding: 1rem;
  /* width: 100vw; */
}
.container {
 display: flex;
 flex-direction: column;
 text-align: center;
  height: 100vh;
  justify-content: flex-start;
}

h3 {
  padding: 1rem;
  text-align: center;
}

.footer {
  background-color: #4E27E1;
  display: flex;
  text-align: center;
  color: black;
  justify-content: center;
  line-height: 30px;
  padding: 1rem;
  
}

.footer .link {
  color: #fff;
}

.social-icons a {
  padding: 0.5rem;
text-decoration: none;
}

.attribution{
  text-decoration: none;
  padding: 0.5rem;
  font-size: 15px;
}

