@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karla&family=Mulish&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

h2{
  text-align: center;
  background-color: #4E27E1;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

.container {
  text-align: center;
  padding: 1rem;
  margin: auto;
  max-width: 600px;
}

h3 {
  padding: 1rem;
  text-align: center;
}


